<p>{{quote.description}}</p>


<p>
  Author:{{quote.name}}
</p>

<p>
quote:{{quote.author}}
</p>



<div class="four wide column center aligned votes">
    <div class="ui statistic">
      
      <div class="value">
        {{ votes }}
      </div> 
      <div class="label">
        Votes:
      </div>
  
    </div>
  
  </div>
  
  <div class="twelve wide column">
  
    <ul class="ui big horizontal list voters">
      <li class="item">
        <a href (click)="likeVote()">
        <i class="arrow up icon"></i>
          upvote
        </a>
      </li>
  
      <li class="item">
        <a href (click)="dislikeVote()">
        <i class="arrow down icon"></i>
          downvote
        </a>
      </li>
  
    </ul>
  </div>

  <p>This quote was added {{quote.completeDate|dateCount}} days ago.</p>
<button class="btn btn-danger" (click) = 'quoteDelete(true)'> DELETE QUOTE </button>

