/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  background-image: url("assets/images/lpo.jpeg");
  background-position: center;
  background-size: cover;
}
h1{
    color: rgb(39, 41, 160);
    text-align: center;
}

p{
    color: rgba(25, 0, 255, 0.747);
}