  
<div class="container-fluid">
  <div class="row">
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
          <div class="form-group">

              <label for="name">Author</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
              
          

          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p> Name of Author. </p>              
          </div>  
              
          </div>
          <div class="form-group">

              <label for="name">Quote</label>
              <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.name" name="name" required>
             

              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p> Enter the quote below. </p>              
              </div>  

          </div>
          <div class="form-group">

              <label for="description">Submitted by</label>
              <input type="text" required class="form-control" id="description" [(ngModel)]="newQuote.description" name="name" required>
             

              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p> Enter the name of the person to whom  added the quote. </p>          
              </div>  

          </div>
          <button type="submit" class="btn btn-success btn-lg">Submit Quote!</button>
      </form>
  </div>
</div>

